@font-face {
  font-family: 'PTSans-Regular';
  src: url('../assets/fonts/PTSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PTSans-Bold';
  src: url('../assets/fonts/PTSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SaarSPDemo';
  src: url('../assets/fonts/SaarSPDemo.otf') format('opentype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #7fc8ff #f0f0f0;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #919191;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #7996f0;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: 'PTSans-Regular', 'PTSans', sans-serif;
  font-size: 16px;
  background-color: #5f5f5f;
}

.content-grid {
  --padding-inlain: clamp(0.6rem, 3%, 1rem);
  --content-max-width: 1390px;

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inlain), 1fr)
    [content-start] min(
      100% - (var(--padding-inlain) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(var(--padding-inlain), 1fr) [full-width-end];
}
.content-grid > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
}

.content-grid .full-width {
  grid-column: full-width;
  padding: var(--padding-inlain);
  display: grid;
  grid-template-columns: inherit;
}

.no-scroll {
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .no-scroll {
    margin-right: calc(7px - (100vw - 100%));
  }
}
