* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #7fc8ff #f0f0f0;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #919191;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #21b1fe;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: 'PTSans-Regular', 'PTSans', sans-serif;
  font-size: 18px;
  color: var(--main-text-dark);
  background-color: var(--main-background);
}

h2,
h3,
h4,
h5 {
  font-family: var(--font-family-medium);
}

h2 {
  font-size: var(--font-size-xxl);
  text-transform: uppercase;
}
h3 {
  font-size: var(--font-size-md);
}
.content-grid {
  --padding-inlain: clamp(0.6rem, 3%, 1rem);
  --content-max-width: 1390px;

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inlain), 1fr)
    [content-start] min(100% - (var(--padding-inlain) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--padding-inlain), 1fr) [full-width-end];
}
.content-grid > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
}

.content-grid .full-width {
  grid-column: full-width;
  padding: var(--padding-inlain);
  display: grid;
  grid-template-columns: inherit;
}

.main section {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.section-header {
  margin-left: 2rem;
}

.section-header .pretitle {
  color: var(--main-primary);
}

.section-header h2 {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 576px) {
  .section-header {
    margin-left: 1rem;
  }
}

.no-scroll {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .no-scroll {
    margin-right: calc(7px - (100vw - 100%));
  }
}

.btn {
  position: relative;
  border: none;
  color: #fff;
  background-image: var(--main-gradient);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  cursor: pointer;
}

.btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
