.form__fields {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.7rem;
}

@media only screen and (max-width: 992px) {
  .form__fields {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
}

.form__group {
  flex: 0 1 33%;
  position: relative;
}

.form__input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.form__input:-internal-autofill-selected {
  background-color: transparent !important;
}

.form__label {
  font-size: 100%;
  position: absolute;
  left: 0;
  top: 1px;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.form__group :is(select:focus, select:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #ebedf4;
}

.form__group :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #ebedf4;
}

.form__group :is(input:focus, ) {
  border-color: var(--main-primary);
}

.form-select {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
}

.form-select:focus {
  border-color: var(--main-primary);
}

.form__checkbox {
  margin-bottom: 1.5rem;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark {
  background-color: var(--main-primary);
  box-shadow: var(--main-box-shadow);
}

.custom-checkbox:checked ~ .checkmark:after {
  display: block;
}

@keyframes checkAnim {
  0% {
    height: 0;
  }

  100% {
    height: 10px;
  }
}

.custom-checkbox:checked ~ .checkmark:after {
  animation: checkAnim 0.2s forwards;
}

.checkbox-text {
  margin-left: 0.8rem;
  margin-bottom: 1rem;
  color: var(--main-text);
}

.form__btn {
  position: relative;
  border: none;
  color: #fff;
  background-image: var(--main-gradient);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  cursor: pointer;
}

.form__btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

.form__btn:disabled {
  cursor: not-allowed;
  background-image: none;
  background-color: #ccc;
}

.form__btn:disabled:hover {
  background-position: initial;
  background-size: initial;
  -webkit-animation: none;
  animation: none;
  cursor: not-allowed;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.form__message {
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: 0.37rem;
  transform: scaleY(0);
  transition: all 0.3s ease;
}

.form__message.success {
  color: #0a3622;
  background-color: #d1e7dd;
  border: 1px solid #a3cfbb;
}
.form__message.error {
  color: #58151c;
  background-color: #f8d7da;
  border: 1px solid #f1aeb5;
}

.form__message--active {
  margin-top: 1.5rem;
  transform: scaleY(1);
}

.err {
  border: 2px solid #f1aeb5;
}

.loader {
  display: flex;
  align-items: center;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  animation: spin 1s linear infinite;
  stroke: rgba(107, 114, 128, 1);
}

.loading-text {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: rgba(107, 114, 128, 1);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
