@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

:root {
  --font-family-regular: 'Roboto-Regular';
  --font-family-medium: 'Roboto-Medium';
  --font-family-bold: 'Roboto-Bold';
}
