.hero {
  height: 782px;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  perspective: 1000px;
  background: black;
}

.hero__layers {
  transform-style: preserve-3d;
  height: 100%;
  transform: rotateX(var(--mouse-y)) rotateY(var(--mouse-x));
  transition-duration: var(--transition-duration);
  will-change: transform;
}

.layers__item {
  position: absolute;
  inset: -3vw;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.layers__content {
  text-align: center;
}

.layers__title {
  font-size: var(--font-size-xxxl);
  font-weight: 600;
}
.layers__title span {
  display: block;
}
.layers__subtitle {
  font-size: var(--font-size-sm);
}

.layer-1 {
  transform: translateZ(-50px) scale(1.08);
}
.layer-2 {
  transform: translateZ(80px) scale(1.1);
}
.layer-3 {
  pointer-events: none;
  transform: translateZ(220px);
}
.layer-4 {
  transform: translateZ(240px) scale(0.8);
}
.layer-5 {
  transform: translateZ(300px) scale(0.8);
}
.layer-6 {
  transform: translateZ(380px) scale(0.7);
}
.layer-7 {
  transform: translateZ(440px) scale(0.55);
}
